{% extends 'base.html' %}
{% block content %}
  <h1>Chi Siamo</h1>
  <p>Il torneo Fut Rivals nasce nel 2024 come torneo per unire la passione per il calcio degli atleti del Polesine, con l’ambizione di intrattenere e regalare serate di amicizia e spettacolo a tutti gli appassionati e spettatori.<br>
  L’evento è attivamente sostenuto dalle imprese del territorio e molto seguito.</p>
  <h2>Contatti</h2>
  <p>Instagram: <b>fut.rivals.tournament</b></p>
  <h2>Organizzazione</h2>
  <p>Per qualsiasi evenienza il nostro staff è disponibile ad aiutare o chiarire ogni tuo dubbio. Unisciti a noi!</p>
{% endblock %}