{% extends 'base.html' %}
{% block content %}
  <h1>Chi siamo</h1>
  <p>Il <strong>Torneo Fut Rivals</strong> nasce dalla passione per il calcio tra amici!<br>
  Ogni estate organizziamo un torneo amatoriale per divertirci, fare sport e condividere momenti indimenticabili.
  </p>
  <h2>Contatti</h2>
  <ul>
    <li>Email: info@futrivals.it</li>
    <li>Instagram: <a href="https://instagram.com/futrivals" target="_blank">@futrivals</a></li>
    <li>
      Regolamento:
      <a href="{{ url_for('static', filename='regolamento_futrivals.pdf') }}" download>
        Scarica qui il PDF
      </a>
    </li>
  </ul>
  <h2>Organizzazione</h2>
  <p>Per qualsiasi domanda o proposta, contatta lo staff!<br>
  Buon divertimento e che vinca il migliore!</p>
{% endblock %}