<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fut Rivals – Torneo Estivo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="manifest" href="/static/manifest.json">
  <meta name="theme-color" content="#00ff6a">
</head>
<body>
  <header class="navbar">
    <div class="logo-container">
    <img src="{{ url_for('static', filename='FutRivals.png') }}" alt="Fut Rivals Logo">
      <span class="tournament-title">TORNEO FUT RIVALS</span>
    </div>
    <a href="{{ url_for('menu') }}" class="menu-btn-mobile">Menu</a>
    <nav class="nav-links desktop-only">
      <a class="nav-link" href="{{ url_for('index') }}">Homepage</a>
      <a class="nav-link" href="{{ url_for('rose') }}">Rose</a>
      <a class="nav-link" href="{{ url_for('classifica') }}">Classifica</a>
      <a class="nav-link" href="{{ url_for('partite') }}">Partite</a>
      <a class="nav-link" href="{{ url_for('cerca_giocatore') }}">Cerca Giocatore</a>
      <a class="nav-link" href="{{ url_for('about') }}">About</a>
    </nav>
  </header>
  <div id="nav-overlay"></div>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    © 2025 Fut Rivals – Tutti i diritti riservati
  </footer>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/static/service-worker.js');
      });
    }
  </script>
  <script>
    // Funzione per generare un UUID v4
    function generateUUID() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      });
    }
    // Imposta il cookie se non esiste
    function setUserIdCookie() {
      if (!document.cookie.split('; ').find(row => row.startsWith('user_id='))) {
        var uuid = generateUUID();
        var expires = new Date();
        expires.setFullYear(expires.getFullYear() + 1); // 1 anno
        document.cookie = 'user_id=' + uuid + '; expires=' + expires.toUTCString() + '; path=/; SameSite=Lax';
      }
    }
    setUserIdCookie();
  </script>
</body>
</html>