{% extends 'base.html' %}
{% block content %}
  <section class="menu-mobile">
    <h1>Menu</h1>
    <nav class="menu-mobile-nav">
      <a class="menu-mobile-link" href="{{ url_for('main.index') }}">Homepage</a>
      <a class="menu-mobile-link" href="{{ url_for('torneo.rose') }}">Rose</a>
      <a class="menu-mobile-link" href="{{ url_for('torneo.classifica') }}">Classifica</a>
      <a class="menu-mobile-link" href="{{ url_for('torneo.partite') }}">Partite</a>
      <a class="menu-mobile-link" href="{{ url_for('main.cerca_giocatore') }}">Cerca Giocatore</a>
      <a class="menu-mobile-link" href="{{ url_for('main.about') }}">About</a>
    </nav>
  </section>
{% endblock %} 